@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "IRANSans";
    src: url("../public/fonts/IRANSans.ttf") format("ttf");
  }
}

@layer base {
  @font-face {
    font-family: "B Nazanin";
    src: url("../public/fonts/B_Nazanin.ttf") format("ttf");
  }
}


input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  width: 1em;
  height: 1em;
  border-radius: 25%;
  border: 2px solid #cbd5e0;
  transition-duration: 0.3s;

}

input[type="radio"]:checked {
  /* background-color: #000000; */
  background-size: 50% 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../public/check.svg');
  /* filter: invert(100%); */
}
